# modules
node_modules/

# macos
.DS_Store

# secrets
.env
.env.*
!.env.example

# user defined
_secret/
_thunder/
_temp/
backups/
downloads/
drafts/

pb_migrations/
data.db
logs.db

users.json

# sqlite
*.db

.cursorrules